node_modules
coverage
coverage.json
yarn-error.log

env

deployments/hardhat
deployments/localhost
deployments/hardhat.json

#Data files
bytecode_eagle.zip
bytecode_tiger.zip

#Hardhat files
cache
artifacts
typechain

.DS_Store
.openzeppelin/unknown-1337.json