.artistinfo {
  display: flex;
  width: 100%;
}

/* 
*
 [ artist info ]
* 
*/

.artistinfo_text {
  background-color: black;
  width: 428px;
  display: flex;
  flex-direction: column;
  padding: 96px 43px;
  box-sizing: border-box;
  color: white;
}

.artistinfo_text .title {
  font-family: "Chonburi";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
}

.artistinfo_text .line {
  width: 321px;
  height: 2px;
  stroke: white;
  background-image: url("../svg/white_line.svg");
  margin-top: 19px;
  margin-bottom: 26px;
}

.artistinfo_bar {
  width: 1000px;
  height: 81px;
  background-image: url("../svg/artistinfo-bar.svg");
}

/* 
*
 [ artist info ]
* 
*/
.artistcards {
  width: 1000px;
  height: 445px;
  background-color: black;
  color: white;
  padding: 43px 39px;
  padding-right: 64px;
  box-sizing: border-box;
}
.artistcards-title {
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
}
.artistcards-wrapper {
  width: 100%;
  height: 341px;
  display: flex;
  justify-content: space-between;
}
.cards-wrapper {
  width: 533px;
  height: 100%;
}

.fantosihouse-wrapper {
  width: 1000px;
  height: 82px;
  background: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 43px;
  padding-right: 64px;
  box-sizing: border-box;
}

.fantosihouse-btn {
  width: 200px;
  height: 40px;
  background-image: url("../svg/btn_fantosihouse.svg");
}
.fantosihouse-txt {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: white;
}

.cardinfo-wrapper {
  width: 321px;
  height: 327;
  display: flex;
  flex-direction: column;
}

.cardinfo-wrapper .title {
  font-family: "Chonburi";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  padding-bottom: 5px;
}

.cardinfo-wrapper .sub-title {
  font-weight: 700;
  font-size: 13px;
  padding-bottom: 39px;
}

.cardinfo-wrapper .line {
  background-image: url("../svg/white_line.svg");
  height: 1px;
  width: 321px;
  margin-bottom: 23px;
}
.row-wrapper {
  display: flex;
  margin-bottom: 19px;
}
.cardinfo-wrapper .left-wrapper {
  width: 188px;
}
.cardinfo-wrapper .header {
  height: 16px;
  font-weight: 700;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.49);
  margin-bottom: 10px;
}
.header.high {
  height: 25pxx;
}
.cardinfo-wrapper .value {
  font-weight: 700;
  font-size: 20px;
  display: flex;
}
.bnb_icon {
  margin: 0 2px;
  transform: translateY(2px);
  width: 18px;
  height: 18px;
  background-image: url("../svg/bnb_icon.svg");
}
.charactor_icon {
  width: 33px;
  height: 33px;
  background-image: url("../svg/charactor_icon.svg");
}
.address {
  padding-left: 8px;
  transform: translateY(2px);
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}
.input-btn {
  width: 111px;
  height: 40px;
  left: 825px;
  top: 383px;
  background: #727272;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 15px;
  cursor: pointer;
}

.input-wrapper input {
  width: 200px;
  height: 40px;
  left: 615px;
  top: 383px;
  background: #ffffff;
  color: black;
  font-weight: 800;
  font-size: 20px;
  padding: 7px 16px;
  box-sizing: border-box;
}

/* 
*
 [ treasury ]
* 
*/
.treasury-wrapper {
  width: 1000px;
  height: 1089px;
  background-color: black;
  padding: 43px 39px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treasury-wrapper-title {
  width: 100%;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: white;
  margin-bottom: 33px;
}

.treasury-history {
  width: 880px;
  height: 87px;
  background-image: url("../svg/treasury_history.svg");
  margin-bottom: 47px;
}

.treasury-header {
  width: 880px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0px 17px;
  box-sizing: border-box;
  color: white;
  margin-bottom: 26px;
}

.treasury-header-title {
  font-weight: 500;
  font-size: 15px;
}
.makeproposal-btn {
  cursor: pointer;
  width: 142px;
  height: 29px;

  background: rgba(255, 255, 255, 0.3);
  mix-blend-mode: normal;
  border: 1px solid #ffffff;
  border-radius: 43.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 15px;
  font-family: "Apple SD Gothic Neo";
  vertical-align: middle;
}
.makeproposal-btn:hover {
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #ffffff;
  border-radius: 43.5px;
  color: black;
}

.pagination {
  width: 162px;
  height: 18px;
  background-image: url("../svg/pagination_dummy.svg");
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 33px;
}
