.artistinfo {
  display: flex;
  width: 100%;
}

/* 
*
 [ artist info ]
* 
*/

.artistinfo_text {
  background-color: black;
  width: 428px;
  display: flex;
  flex-direction: column;
  padding: 96px 43px;
  box-sizing: border-box;
  color: white;
}

.artistinfo_text .title {
  font-family: "Chonburi";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
}

.artistinfo_text .line {
  width: 321px;
  height: 2px;
  stroke: white;
  background-image: url("../svg/white_line.svg");
  margin-top: 19px;
  margin-bottom: 26px;
}

.artistinfo_bar {
  width: 1000px;
  height: 81px;
  background-image: url("../svg/artistinfo-bar.svg");
}

/* 
*
 [ artist info ]
* 
*/
.artistcards {
  width: 1000px;
  height: 445px;
  background-color: black;
}

.fantosihouse-wrapper {
  width: 1000px;
  height: 82px;
  background: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 43px;
  padding-right: 64px;
  box-sizing: border-box;
}

.fantosihouse-btn {
  width: 200px;
  height: 40px;
  background-image: url("../svg/btn_fantosihouse.svg");
}
.fantosihouse-txt {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: white;
}

/* 
*
 [ treasury ]
* 
*/
.treasury-wrapper {
  width: 1000px;
  height: 1089px;
  background-color: black;
}
